.hero-container {
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

/* Side bar */
.side-bar {
    width: 20vw;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    color: whitesmoke;
    border-right: 1px solid gray;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.side-bar section {
    margin-bottom: 10px;
}

.side-bar section h2 {
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

.side-bar section ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
}

.side-bar section ul li {
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    transition: background-color .2s ease;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.side-bar section ul li:hover {
    background-color: gray;
}


.close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.side-bar.closed{
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 0;
    transition: width .2s ease;
}

.side-bar.closed + .hero{
    width: 100vw;
    margin-top: 20px;
}

.hamburger{
    cursor: pointer;
    font-size: 30px;
}
/* Hero */

.hero {
    width: 80vw;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: whitesmoke;
    padding: 30px 30px 20px 30px;
    transition: width .2s ease-in-out;
}

.hero h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.hero .tracks {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.hero .track-card {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.hero .track-card .image-container {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.hero .track-card .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .2s ease;
}

.hero .track-card .image-container img:hover {
    transform: scale(1.1);
}

.hero .track-card .track-info {
    width: 100%;
    margin-top: 5px;
}

.hero .track-card .track-info h3 {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: color .2s ease;
}

.hero .track-card .track-info h3:hover {
    color: gray;
}

.hero .track-card .track-info p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

/* Responsive design */

@media screen and (max-width: 480px) {
    .hero {
        width: 100vw;
    }

    .side-bar{
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 1;
        width: 100vw;
    }
}